*, :after, :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 320px;
}

main {
  flex: 1;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.cart-container {
  padding: 70px 0;
}

.show {
  right: 0!important;
}

.hide {
  display: none;
}