header {
  background-color: $color-grey-light;
  padding: 15px 0;
  position: relative;

  > div {
    align-items: center;
  }
}

.logo-block {
  display: flex;
  align-items: center;
  position: relative;

  @media(max-width: $bp-md) {
    flex: 2;
    width: 50%;
  }

  .logo-link {
    display: block;
    background: url("../images/logo-header.png") no-repeat;
    background-size: cover;
    width: 300px;
    height: 59px;

    @media(max-width: $bp-md) {
      background: url("../images/logo-header-xs.png") no-repeat;
      width: 200px;
      height: 39px;
    }
  }
}

.category-section {
  width: 400px;

  @media screen and (max-width: $bp-lg) {
    width: 300px;
  }

  @media screen and (max-width: $bp-md) {
    width: 100%;
    order: 2;
    padding-top: 20px;
  }

}

.category-option {
  width: percentage(1/3);
  text-align: center;
  border-right: 2px solid $color-grey;

  &:last-child {
    border-right: none;
  }

  a {
    width: 100%;
    display: inline-block;
    padding: 8px 0;
    color: $color-black;

    &:hover {
      background-color: $color-grey;
    }
  }
}

.cart-section {
  order: 2;

  .cart-box{
    background-color: $color-orange;
    border-radius: 21px;
  }

  a{
    color: $color-grey-light;
    font-size: 22px;
    width: 60px;
    height: 30px;
    margin: 0 auto;
    display: block;
    line-height: 30px;
    text-align: center;
  }
}
