.product-detail {
  display: flex;
  position: relative;
}

.product-name {
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
}

#owl-product {

  .owl-item {
    display: flex;
    justify-content: center;
  }

  &.owl-theme .owl-nav .owl-next,
  &.owl-theme .owl-nav .owl-prev {
    padding: 8px 16px;
  }
}

#owl-product,
.product-detail {
  width: 50%;

  @media (max-width: $bp-lg) {
    width: 100%;
    margin: 80px 0 20px 0;
  }
}

.description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  background-color: $color-grey-light;
  padding: 25px;
  width: 100%;
  > span {
    margin: 10px 0;
  }

  .size {
    margin-bottom: 10px;

    span {
      background-color: $color-grey;
      padding: 5px 8px;
      display: inline-block;
      margin: 0 6px 10px 0;
      border-radius: 5px;

      @media (max-width: $bp-xs) {
        text-align: center;
        display: block;
        margin-bottom: 5px;
      }
    }

    &:first-child {
      background: none;
      font-weight: 600;
    }
  }
}

.cart-product-detail {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid $color-orange;
  border-width: 0 0 1px 0;

  &:first-of-type {
    border-width: 1px 0 1px 0;
  }

  span {
    flex: 1;
    text-align: center;

    &:first-of-type {
      flex: 2;
      text-align: start;
    }
    a{
      color: $color-grey-dark;

      &:hover{
        text-decoration: underline;
      }
    }

    @media (max-width: $bp-lg) {
      font-size: 13px;
      img {
        max-width: 80%;
      }
    }

    @media (max-width: $bp-xs) {
      font-size: 10px;
      img {
        max-width: 70%;
      }
    }
  }

  @media (max-width: $bp-lg) {
    width: 500px;
  }

  @media (max-width: $bp-xs) {
    width: 300px;
  }
}

.cart-message-empty {
  font-size: 35px;
  text-shadow: 0 0 19px $color-grey-dark;
  text-align: center;
}

.remove-block {
  text-align: end;
}

.cart-modal {
  position: absolute;
  top: 20px;
  right: -100%;
  width: 270px;
  height: 70px;
  border: 1px solid $color-orange;
  background-color: lighten($color-orange, 30%);
  border-radius: 6px;
  z-index: 2;
  text-align: center;
  line-height: 70px;
  color: $color-grey-dark;
  font-size: 15px;
  transition: 1s;

  @media (max-width: $bp-xs) {
    width: 240px;
    height: 45px;
    line-height: 45px;
    transition: 3s;
  }
}