
.product-detail {
  display: flex;
  position: relative;
}

.product-name {
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
}

#owl-product {

  .owl-item {
    display: flex;
    justify-content: center;
  }

  &.owl-theme .owl-nav .owl-next,
  &.owl-theme .owl-nav .owl-prev{
    padding: 8px 16px;
  }
}

#owl-product,
.product-detail {
  width: 50%;

  @media (max-width: $bp-lg) {
    width: 100%;
    margin: 60px 0 20px 0;
  }
}

.description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  background-color: $color-grey-light;
  padding: 25px;
  width: 100%;
  > span {
    margin: 10px 0;
  }

  .size {
    margin-bottom: 10px;

    span {
      background-color: $color-grey;
      padding: 5px 8px;
      margin-right: 6px;
      border-radius: 5px;


      @media (max-width: $bp-xs) {
        text-align: center;
        display: block;margin-bottom: 5px;
      }
    }

    &:first-child {
      background: none;
      font-weight: 600;
    }
  }
}